*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.formcontainer
{
    padding: 40px 50px;
    width: 100%;
    background: #f1f1f1;
    border-bottom: 1px solid #9a9a9a;
}
.formcontainer .emptyform
{
    margin-top: 30px;
    margin-left: 20%;
}
.formcontainer .emptyform h2
{
    font-size: 32px;
    color: #010f1c;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 30px;
}
.formcontainer .emptyform .emptyformbtn
{
    margin-left: 190px;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    background: red;
} 
.formcontainer .contant
{
    max-width: 100%;
    padding: 20px 30px;
}
.formcontainer .contant .form_item
{
    padding: 20px 30px;
    display: flex;
    background: #fff;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.formcontainer .contant .form_item .img_box
{
    padding: 20px 20px;
    background: #f1f1f1;
}
.formcontainer .contant .form_item .img_box img
{
    width: 250px;
    height: 250px;
}
.formcontainer .contant .form_item  .detail
{
    margin-left: 60px;
    display: flex;
    margin-top: 30px;
    padding: 20px 30px;
}
.formcontainer .contant .form_item  .detail .info h4
{
    text-transform: uppercase;
    font-size: 16px;
    color: #9a9a9a;
    font-weight: 100;
    letter-spacing: 1.5px;
}
.formcontainer .contant .form_item  .detail .info h3
{
    margin-top: 20px;
    color: #010f1c;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 1px;
}
.formcontainer .contant .form_item  .detail .info p
{
    margin-top: 10px;
    color: #010f1c;
    letter-spacing: 1px;
}
.formcontainer .contant .form_item  .detail .info .qty
{
    margin-top: 10px;
    display: flex;
}
.formcontainer .contant .form_item  .detail .info .qty .incqty
{
    padding: 10px 10px;
    background: none;
    outline: none;
    border: none;
    color: red;
    font-size: 32px;
    cursor: pointer;
}
.formcontainer .contant .form_item  .detail .info .qty .decqty
{
    padding: 10px 10px;
    background: none;
    outline: none;
    border: none;
    color: red;
    font-size: 32px;
    cursor: pointer;
}
.formcontainer .contant .form_item  .detail .info .qty input
{
    border: none;
    outline: none;
    background: none;
    font-size: 22px;
    color: #010f1c;
    width: 50px;
    margin-left: 20px;
}
.formcontainer .contant .form_item  .detail .info .subtotal
{
    color: #010f1c;
    font-size: 22px;
    margin-top: 10px;
}
.formcontainer .contant .form_item  .detail .close
{
    margin-top: 30px;
    margin-left: 50px;
}
.formcontainer .contant .form_item  .detail .close button
{
    border: none;
    outline: none;
    border: none;
    font-size: 22px;
    color: black;
    background: none;
    cursor: pointer;
}
.formcontainer .totalprice {
    margin-bottom: 40px; /* Increase the bottom margin to create more space */
    margin-left: 50%;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.formcontainer .apply {
    margin-top: 30px; /* Adjust the top margin as needed */
    margin-left: 42%;
    padding: 10px 20px;
    color: #fff;
    border: none;
    outline: none;
    background: black;
    cursor: pointer;
    text-decoration: none;
}