*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.opportunitys
{
    padding: 30px 40px;
    width: 100%;
}
.opportunitys h2
{
    font-size: 42px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300;
    color: #010f1c;
}
.opportunitys p
{
    margin-top: 10px;
    color: #9a9a9a;
}
.opportunitys .container
{
    margin-top: 20px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}
.opportunitys .container .filter
{
    padding: 20px 30px;
}
.opportunitys .container .filter .categories h3
{
    color: #010f1c;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.opportunitys .container .filter .categories ul 
{
    margin-top: 10px;
}
.opportunitys .container .filter .categories ul li
{
    list-style: none;
    margin-top: 20px;
    color: #010f1c;
    cursor: pointer;
}
.opportunitys .container .opportunitybox
{
    margin-right: 0%;
}
.opportunitys .container .opportunitybox .contant
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.opportunitys .container .opportunitybox .contant .box
{
    padding: 10px 20px;
    overflow: hidden;
    width: 280px;
    height: 380px;
    border: 1px solid #e2e0e0;
    margin-bottom: 20px;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 20px;
}
.opportunitys .container .opportunitybox .contant .box:hover
{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.opportunitys .container .opportunitybox .contant .box .img_box
{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e2e0e0;
}
.opportunitys .container .opportunitybox .contant .box .img_box img
{
    width: 300px;
    height: 250px;
    margin-right: 50px;
}
.opportunitys .container .opportunitybox .contant .box .img_box .icon
{
    z-index: 1;
    position: relative;
    right: 0;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    transition: 0.5s;
}
.opportunitys .container .opportunitybox .contant .box:hover .img_box .icon
{
    transform: translateX(-130px);
}
.opportunitys .container .opportunitybox .contant .box .img_box .icon li
{
    list-style: none;
    padding: 10px 10px;
    color: #010f1c;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
    transition: 0.5s;
    font-size: 18px;
}

.opportunitys .container .opportunitybox .contant .box .img_box .icon a
{
    list-style: none;
    padding: 10px 10px;
    color: #010f1c;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
    transition: 0.5s;
    font-size: 18px;
}
.opportunitys .container .opportunitybox .contant .box .img_box .icon li:hover
{
    background: red;
    color: #fff;
}

.opportunitys .container .opportunitybox .contant .box .img_box .icon a:hover
{
    background: red;
    color: #fff;
}
.opportunitys .container .opportunitybox .contant .box .detail
{
    margin-top: 10px;
}
.opportunitys .container .opportunitybox .contant .box .detail h3
{
    font-size: 16px;
    margin-top: 5px;
    color: #010f1c;
    transition: 0.5s;
}
.opportunitys .container .opportunitybox .contant .box:hover .detail h3
{
    color: red;
}
.opportunitys .container .opportunitybox .contant .box .detail h4
{
    margin-top: 5px;
    font-size: 14px;
    color: red;
    letter-spacing: 1px;
}
.opportunity_detail
{
    margin-top: 30px;
    padding: 30px 40px;
    width: 100%;
    height: 120%;
    position: fixed;
    z-index: 2;
    margin-top: -20%;
    background: rgba(0, 0, 0, 0.24);
}
.opportunity_detail .container
{
    margin-top: 7%;
    margin-left: 8%;
    width: 1000px;
    height: 550px;
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.opportunity_detail .container .closebtn
{
    margin-left: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: 22px;
    cursor: pointer;
}
.opportunity_detail .container .opportunitybox
{
    max-width: 100%;
    display: flex;
    padding: 20px 30px;
    margin-top: 20px;
    justify-content: space-between;
}
.opportunity_detail .container .opportunitybox .img-box
{
    padding: 20px 30px;
    width: 400px;
    height: 350px;
    background: #f1f1f1;
}
.opportunity_detail .container .opportunitybox .img-box img
{
    width: 250px;
    height: 250px;
}
.opportunity_detail .container .opportunitybox .detail
{
    margin-left: 30px;
    margin-top: 10px;
}
.opportunity_detail .container .opportunitybox .detail h4
{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 200;
    color: #9a9a9a;
    letter-spacing: 1px;
}
.opportunity_detail .container .opportunitybox .detail h2
{
    margin-top: 20px;
    font-size: 32px;
    color: #010f1c;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.opportunity_detail .container .opportunitybox .detail p
{
    margin-top: 10px;
    color: #4a4a4a;
}
.opportunity_detail .container .opportunitybox .detail h3
{
    margin-top: 10px;
    color: red;
    font-size: 32px;
    letter-spacing: 1px;
}
.opportunity_detail .container .opportunitybox .detail button
{
    margin-top: 30px;
    padding: 15px 60px;
    font-size: 16px;
    color: #fff;
    background: #010f1c;
    transition: 0.5s;
    border: none;
    outline: none;
    cursor: pointer;
}
.opportunity_detail .container .opportunitybox .detail button:hover
{
    background: red;
}